<div class="wrapper" style="overflow-x: hidden">
    <div class="page-header section-dark size-banner" style="background-image: url('assets/img/contato/01_imagem_banner.png')">
        <div class="content-center">
        </div>
    </div>
    <div class="main">
        <div class="section section-home">
            <div class="container" id="contato">
                <div class="col-md-12">
                    <div class="row margin-content">
                        <div class="col-md-12 text-center text-dark">
                            <h3 class="h3 bold"> Entre em contato conosco</h3>
                            <br />
                            <h5 class="h5-local">
                                Conheça nossos lançamentos em Guarapuava ou esclareça suas dúvidas. Envie-nos uma mensagem!
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2"></div>

                        <div class="col-md-8">
                            <app-contato-formulario [identificador]="'Contato'"></app-contato-formulario>
                        </div>

                        <div class="col-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>