.splendor-logo {
  size: 500px;
}

.card-home {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
  transition: 0.3s !important;
  background-color: whitesmoke !important;
}

.card-home:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2) !important;
}

.container-home {
  padding: 2px 16px !important;
}

.button-middle {
  margin-left: 32vw;
}
.h5-local {
  font-size: 1.1rem;
}
.paddind-top {
  padding-top: 5vw;
}

.section-home {
  padding-bottom: 25px !important;
}

.bold {
  font-weight: bold !important;
}

agm-map {
  height: 300px;
}

.row-center {
  display: initial !important;
}

.text-color-black {
  color: black;
}
