@media only screen and (min-width: 300px) {
  .page-header-imovel {
    background-color: #0b1011 !important;
    padding-top: 40vw !important;
    align-items: unset !important;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
    max-height: 1700px !important;
  }

  .m-position {
    margin-top: -160px;
  }
}

@media only screen and (min-width: 500px) {
  .page-header-imovel {
    background-color: #0b1011 !important;
    padding-top: 18vw !important;
    align-items: unset !important;
    padding-bottom: 10px;
    max-height: 1700px !important;
  }
}

@media only screen and (min-width: 800px) {
  .page-header-imovel {
    background-color: #0b1011 !important;
    padding-top: 15vw !important;
    align-items: unset !important;
    padding-bottom: 10px;
    max-height: 1700px !important;
  }

  .m-position {
    margin-top: inherit;
  }
}

@media only screen and (min-width: 1000px) {
  .page-header-imovel {
    background-color: #0b1011 !important;
    padding-top: 10vw !important;
    align-items: unset !important;
    padding-bottom: 10px;
    max-height: 1700px !important;
  }
}

.bold {
  font-weight: bold;
}

.box-type-planta {
  background-color: #bf1b1a;
  color: #ffffff;
  padding-bottom: 20px;
  border: 1px solid #66615b;
  border-radius: 5px;
  font-weight: 600;
  margin-left: -1px;
  padding: 10px 25px;
  width: 200px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.spacing {
  padding-bottom: 6px;
  padding-right: 10px;
}

.padding-lr-text {
  padding-left: 20px;
  padding-right: 20px;
}

.padding-row-initial {
  padding-left: 7%;
  padding-right: 7%;
}

.space-top {
  margin-top: 80px;
}

.space-top-form {
  margin-top: 25px;
}

.icon-size {
  height: 45px !important;
  width: auto !important;
  border-radius: unset !important;
  box-shadow: unset !important;
  padding-bottom: 10px;
}

.icon-size2 {
  height: 60px !important;
  width: auto !important;
  border-radius: unset !important;
  box-shadow: unset !important;
}

.icon-size-painel-flutuante {
  height: 35px !important;
  width: auto !important;
  border-radius: unset !important;
  box-shadow: unset !important;
}

.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.custom-arrarow-style {
  background-color: #f5593d;
  border-radius: 50%;
  opacity: 1;
  text-shadow: none;
  font-size: 12px;
}

.filter {
  z-index: unset;
}

.image-height {
  height: 40vw !important;
}

.row-margin-bottom {
  margin-bottom: 5vw !important;
}

.fit-content {
  width: fit-content !important;
}

.nav-item {
  color: #66615b !important;
  position: relative !important;
  background-color: #0b1011 !important;
  border-radius: 0.5rem !important;
}

.nav-tabs {
  border-bottom: 0px solid black !important;
}

.font-text-icon {
  font-size: 0.8rem;
}

.background-row {
  background-color: black;
  opacity: 0.7;
  border-radius: 0.5rem;
}

.projeto-image-size {
  width: 48vw;
  max-height: 999px;
}

.slice-title {
  background-color: black;
  opacity: 0.7;
  right: 0;
  left: 0;
  margin-left: -50px;
  width: auto;
  height: 100%;
  position: absolute;
  padding-top: 20vw;
}

.row-center {
  display: initial !important;
  color: whitesmoke !important;
}

.text-color-ligth {
  color: white;
}

.font-color-black {
  color: black !important;
}

.text-color-red {
  color: #bf1b1a;
}

.row-top-padding {
  padding-top: 40px;
}

.row-top-margin-40 {
  padding-top: 40px;
}

.cursor-zoom {
  cursor: zoom-in;
}

.img-left {
  margin-left: -40px !important;
}

.padding-sides {
  padding-left: 5px !important;
  padding-right: 5px !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.p-progress {
  margin-top: 1rem;
  height: 30px;
}

.spacing-progress {
  margin-left: 5vw;
}

#painel-flutuante {
  position: fixed;
  width: 50%;
  background-color: #c4c4c4;
  color: black;
  margin-top: -35px;
  height: 90px;
  padding-top: 30px;
  margin-left: 25vw;
  margin-right: 25vw;
  min-width: 425px;
  z-index: 10;
}

.line-gold {
  background-image: linear-gradient(-90deg, #ac811f, #412e02) !important;
  height: 5px;
  width: 200px;
}

.line-gold.width-l {
  display: inline-flex;
}

.width-full {
  width: 100% !important;
}

.top-margin {
  padding-top: 150px;
}

.margin-content {
  margin-right: 30px;
  margin-left: 30px;
}

.bg-color-epax-red {
  background-color: #bf1b1a;
}

.card-progresso-planta {
  transition: 0.3s !important;
  background-color: white !important;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-bottom: 30px;
}

.card-progresso-obra {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
  transition: 0.3s !important;
  background-color: white !important;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-bottom: 30px;
}

.card-progresso-obra:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2) !important;
}

.td-text {
  padding-top: 2rem;
  height: 30px;
}
.td-text.width-c {
  width: 30%;
}
.td-no-border {
  border: none !important;
}

.no-padding-sides {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.padding-contents-card {
  padding: 0px 30px 0px 40px !important;
}

.img-plantas {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
}

#plantaMobile {
  margin-top: 30px;
}
