.swiper-button-prev {
  color: red;
}

.swiper-pagination-bullet-active {
  background: black !important;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 10px;
  right: auto;
}

.bgk-fixed {
  background-attachment: fixed !important;
  //   background-repeat: no-repeat;
  //   background-size: cover;
}

@media only screen and (min-width: 10px) {
  .poistion-text-lancamento {
    position: fixed;
    margin-top: -7vw;
    height: 30px;
    width: 350px;
    font-size: inherit;
    text-align: center;
    padding-top: 5px;
    color: white;
    background-color: #66615b !important;
    background-image: linear-gradient(-90deg, #0b1011, #66615b) !important;
    display: inherit;
    z-index: 10;
  }
}

@media only screen and (min-width: 600px) {
  .poistion-text-lancamento {
    position: fixed;
    margin-top: -5vw;
    height: 30px;
    width: 350px;
    font-size: inherit;
    text-align: center;
    padding-top: 5px;
    color: white;
    background-color: #66615b !important;
    background-image: linear-gradient(-90deg, #0b1011, #66615b) !important;
    display: inherit;
    z-index: 10;
  }
}

@media only screen and (min-width: 2000px) {
  .poistion-text-lancamento {
    position: fixed;
    margin-top: -7vw;
    height: 60px;
    font-size: 25px;
    width: 500px;
    text-align: center;
    padding-top: 12px;
    color: white;
    background-color: #66615b !important;
    background-image: linear-gradient(-90deg, #0b1011, #66615b) !important;
    display: inherit;
    z-index: 10;
  }
}
