<swiper (indexChange)="indexChange($event, swiper, slides)" (swipeleft)="swiper.directiveRef.nextSlide()" (swiperight)="swiper.directiveRef.prevSlide()">
	<div *ngFor="let item of slides">
		<div class="page-header section-dark" [style.background-image]="'url('+item.src+')'" [ngClass]="item.bgAttachmentActive ? 'bgk-fixed': ''">
			<div class="filter"></div>
			<!-- <img [src]="item.src" alt=""> -->

			<div style="max-width: 900px;z-index: 10;color: whitesmoke;">
				<div class="text-center">
					<img [src]="item.secondarysource" alt="" *ngIf="item.secondarysource">

					<div class="row text-center row-center">
						<h4 class="h5 text-center" [innerHTML]="item?.description" style="margin-top: 0;"></h4>
					</div>

					<div class="padding-top-button text-center">
						<button type="button" [routerLink]="item?.router" class="btn btn-outline-neutral ">Saber mais</button>
					</div>
				</div>
			</div>
		</div>

		<div class="poistion-text-lancamento text-uppercase z-index-10" *ngIf="item?.nome && showSliceTag"> {{item?.nome}}</div>
	</div>
</swiper>