.img-default {
  width: 115% !important;
  min-height: 100% !important;
}

@media only screen and (min-width: 200px) {
  .toast-align {
    margin-left: 12vw;
  }

  .img-epax-position {
    margin-left: 0vw !important;
    width: 55%;
  }

  .bgk-img {
    background-image: url("/assets/img/sobre/logo_epax_sobre_mobile.png");
    background-position-y: -22px;
  }

  .section-mb {
    padding: 0 !important;
    margin-top: -22px !important;
    z-index: 1 !important;
  }

  .p-text-right {
    padding-right: 2%;
  }

  .bgk-img {
    background-image: url("/assets/img/sobre/02_1imagem_epax.png");
    background-position-y: 0px;
    background-position-x: -780px;
  }
}

@media only screen and (min-width: 300px) {
  .toast-align {
    margin-left: -4vw;
  }

  .img-epax-position {
    margin-left: 0vw !important;
    width: 55%;
  }

  .bgk-img {
    background-image: url("/assets/img/sobre/02_1imagem_epax.png");
    background-position-y: 0px;
    background-position-x: -615px;
  }
}

@media only screen and (min-width: 375px) {
  .toast-align {
    margin-left: -4vw;
  }

  .img-epax-position {
    margin-left: 0vw !important;
    width: 55%;
  }

  .bgk-img {
    background-image: url("/assets/img/sobre/02_1imagem_epax.png");
    background-position-y: 0px;
    background-position-x: -710px;
  }
}

@media only screen and (min-width: 411px) {
  .toast-align {
    margin-left: 12vw;
  }

  .img-epax-position {
    margin-left: 0vw !important;
    width: 55%;
  }

  .bgk-img {
    background-image: url("/assets/img/sobre/02_1imagem_epax.png");
    background-position-y: 0px;
    background-position-x: -920px;
  }
}

@media only screen and (min-width: 400px) {
  .toast-align {
    margin-left: 12vw;
  }

  .img-epax-position {
    margin-left: 0vw !important;
    width: 55%;
  }

  .bgk-img {
    background-image: url("/assets/img/sobre/02_1imagem_epax.png");
    background-position-y: 0px;
    background-position-x: -790px;
  }
}

@media only screen and (min-width: 500px) {
  .toast-align {
    margin-left: 12vw;
    width: 55%;
  }

  .img-epax-position {
    margin-left: 0vw !important;
  }

  .p-text-right {
    padding-right: 20%;
  }

  .bgk-img {
    background-image: url("/assets/img/sobre/02_1imagem_epax.png");
    background-position-y: 0px;
    background-position-x: -600px;
  }
}
@media only screen and (min-width: 600px) {
  .toast-align {
    margin-left: 12vw;
  }

  .img-epax-position {
    margin-left: 0vw !important;
    width: 55%;
  }

  .bgk-img {
    background-image: url("/assets/img/sobre/02_1imagem_epax.png");
    background-position-y: 0px;
    background-position-x: -520px;
  }
}

@media only screen and (min-width: 700px) {
  .toast-align {
    margin-left: 12vw;
    width: 60%;
  }

  .img-epax-position {
    margin-left: -38vw !important;
  }

  .bgk-img {
    background-image: url("/assets/img/sobre/02_1imagem_epax.png");
    background-position-y: 0px;
    background-position-x: -420px;
  }
}

@media (min-width: 767px){
  .bgk-img {
    background-image: url("/assets/img/sobre/02_1imagem_epax.png");
    background-position-y: 0px;
    background-position-x: -920px;
  }
}

@media only screen and (min-width: 800px) {
  .toast-align {
    margin-left: 12vw;
  }

  .img-epax-position {
    margin-left: -34vw !important;
    width: unset;
  }

  .bgk-img {
    background-image: url("/assets/img/sobre/02_1imagem_epax.png");
    background-position-y: 0;
    background-position-x: -300px;
  }

  .section-mb {
    padding: inherit !important;
    margin-top: inherit !important;
    z-index: inherit !important;
  }
}

@media only screen and (min-width: 900px) {
  .toast-align {
    margin-left: 12vw;
  }

  .img-epax-position {
    margin-left: -28vw !important;
    width: unset;
  }

  .bgk-img {
    background-image: url("/assets/img/sobre/02_1imagem_epax.png");
    background-position-y: 0;
    background-position-x: -200px;
  }
}

@media only screen and (min-width: 1000px) {
  .toast-align {
    margin-left: 12vw;
  }

  .img-epax-position {
    margin-left: -20vw !important;
    width: unset;
  }

  .bgk-img {
    background-image: url("/assets/img/sobre/02_1imagem_epax.png");
    background-position-y: 0;
    background-position-x: -50px;
  }
}

@media only screen and (min-width: 1024px) {
  .toast-align {
    margin-left: 12vw;
  }

  .img-epax-position {
    margin-left: -17vw !important;
    width: unset;
  }

  .bgk-img {
    background-image: url("/assets/img/sobre/02_1imagem_epax.png");
    background-position-y: 0;
    background-position-x: -1260px;
  }
}

@media only screen and (min-width: 1050px) {
  .toast-align {
    margin-left: 12vw;
  }

  .img-epax-position {
    margin-left: -17vw !important;
    width: unset;
  }

  .bgk-img {
    background-image: url("/assets/img/sobre/02_1imagem_epax.png");
    background-position-y: 0;
    background-position-x: 0;
  }
}

@media only screen and (min-width: 1100px) {
  .toast-align {
    margin-left: 12vw;
  }

  .img-epax-position {
    margin-left: -12vw !important;
    width: unset;
  }

  .bgk-img {
    background-image: url("/assets/img/sobre/02_1imagem_epax.png");
    background-position-y: 0;
    background-position-x: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .toast-align {
    margin-left: 12vw;
  }

  .img-epax-position {
    margin-left: -8vw !important;
    width: unset;
  }

  .bgk-img {
    background-image: url("/assets/img/sobre/02_1imagem_epax.png");
    background-position-y: 0;
    background-position-x: 0;
  }
}

.text-color-white {
  color: whitesmoke !important;
}

.bg-color {
  background-color: whitesmoke !important;
}

.form-control {
  border: black solid 1px;
}
.content-icon-border {
  border: black solid 1px;
}
.none-border {
  border: none !important;
}

.no-padding {
  padding: 0;
}

.img-epax {
  width: 41vw;
  height: 46vw;
}
