<div class="wrapper" style="overflow-x: hidden">
    <div class="page-header section-dark bgk-img size-banner">
        <div class="filter"></div>
        <div class="content-center">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            &nbsp;
        </div>
    </div>
    <div class="main">
        <div class="section section-mb">
            <div class="text-dark">
                <div>
                    <div class="row bg-gray">
                        <div class="col-md-5" style="background-image: url('assets/img/sobre/01_imagem_banner.png');">
                            <!-- <img src="assets/img/sobre/01_imagem_banner.png" alt="Epax Construtora" class="img-default"> -->
                        </div>
                        <div class="col-md-7">
                            <div class="container p-text-right">
                                <h2 class="bold h3 text-padding">EPAX</h2>
                                <h4 class="h5 text-padding">
                                    A única construtora e incorporadora com empreendimentos verticais de alto padrão em Guarapuava.
                                </h4>
                                <br />
                                <div class="row">
                                    <div class="col-12">
                                        <h2 class="h3 bold text-padding">
                                            Filosofia EPAX
                                        </h2>
                                        <h4 class="h5 text-padding">
                                            Além da preocupação em construir nas melhores localizações de Guarapuava, os empreendimentos EPAX contam com áreas comuns completas e plantas inteligentes para você morar com mais qualidade de vida e tranquilidade.
                                        </h4>
                                    </div>
                                </div>

                                <br />
                                <div class="row">
                                    <div class="col-12">
                                        <h2 class="h3 bold text-padding">
                                            Missão
                                        </h2>
                                        <h4 class="h5 text-padding">
                                            Construir empreendimentos que realizem sonhos. Atingindo a satisfação de nosso clientes e buscando a melhora contínua, com o crescimento e a geração de valores da empresa, de seus colaboradores.
                                        </h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <h2 class="h3 bold text-padding">
                                            Visão
                                        </h2>
                                        <h4 class="h5 text-padding">
                                            Ser referência em alto padrão, com excelência na qualidade e na área em que atua.
                                        </h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <h2 class="h3 bold text-padding">
                                            Valores
                                        </h2>
                                        <h4 class="h5 text-padding">
                                            <ul>
                                                <li>Ética </li>
                                                <li>Trabalhar com transparência</li>
                                                <li>Qualidade </li>
                                                <li>Prazer em fazer bem feito</li>
                                                <li>Integridade e Honestidade</li>
                                                <li>Em tudo e com todos.</li>
                                            </ul>
                                        </h4>
                                    </div>
                                </div>

                                <br />
                                <div class="row">
                                    <div class="col-md-4 text-center">
                                        <img alt="Epax Construtora - Alto padrão" src="assets/img/sobre/02_icon_qualidade.png" class="icon-size">
                                        <h4 class="h6 bold">Qualidade alto padrão</h4>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <img alt="Epax Construtora - Sofisticação" src="assets/img/sobre/02_icon_sofisticacao.png" class="icon-size">
                                        <h4 class="h6 bold">Sofisticação</h4>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <img alt="Epax Construtora - Localização" src="assets/img/sobre/02_icon_localizacao.png" class="icon-size">
                                        <h4 class="h6 bold">Localização priveligiadas</h4>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4 class="h5 text-padding">
                                            A EPAX é uma construtora que entende a importância de morar bem. Exclusividade e qualidade são os pilares que sustentam o conceito dos nossos projetos.
                                        </h4>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-left button-padding">
                                        <button routerLink="/sobre/portfolio" class="btn btn-outline-danger btn-lg btn-fill">Ver portfólio</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        &nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        <div class="col-12">
                            <h2 class="text-center bold h3">Entre em contato conosco</h2>
                        </div>
                        <div class="col-12 text-center">
                            <h4 class="description" *ngIf="false">
                                Conheça nossos lançamentos em Guarapuava ou esclareça suas dúvidas.
                                <br />Envie-nos uma mensagem!
                            </h4>
                        </div>

                        <div class="row">
                            <div class="col-2"></div>
    
                            <div class="col-md-8">
                                <app-contato-formulario [identificador]="'Contato-Sobre'"></app-contato-formulario>
                            </div>
    
                            <div class="col-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>