<form #f="ngForm" class="contact-form" [formGroup]="formulario" (ngSubmit)="enviar()">
	<input type="hidden" name="identifier" value="{{identificador}}">

	<div class="row">
		<div class="col-md-12">
			<label class="bold">Nome:</label>
			<div class="input-group" [class.has-danger]="invalidInputForm(formulario.controls.nome)">
				<div class="input-group-prepend content-icon-border">
					<span class="input-group-text none-border"><i class="nc-icon nc-single-02"></i></span>
				</div>
				<input type="text" class="form-control form-control-danger" placeholder="Seu nome" formControlName="nome" name="nome">
				<app-campo-erro [mostrarErro]="invalidInputForm(formulario.controls.nome)" [msgErro]="'Informe seu Nome.'"></app-campo-erro>
			</div>
		</div>

		<div class="col-md-6 space-top">
			<label class="bold">Email:</label>
			<div class="input-group" [class.has-danger]="invalidInputForm(formulario.controls.email)">
				<div class="input-group-prepend content-icon-border">
					<span class="input-group-text none-border"> <i class="nc-icon nc-email-85"></i></span>
				</div>
				<input type="email" class="form-control form-control-danger" placeholder="Seu e-mail" formControlName="email" name="email">
				<app-campo-erro [mostrarErro]="invalidInputForm(formulario.controls.email)" [msgErro]="'E-mail inválido!'"></app-campo-erro>
			</div>
		</div>

		<div class="col-md-6 space-top">
			<label class="bold">Telefone:</label>
			<div class="input-group" [class.has-danger]="invalidInputForm(formulario.controls.telefone)">
				<div class="input-group-prepend content-icon-border">
					<span class="input-group-text none-border"> <i class="nc-icon nc-mobile"></i></span>
				</div>
				<input type="text" class="form-control form-control-danger" maxlength="15" placeholder="Seu telefone" formControlName="telefone" name="telefone" (change)="telefoneMask(formulario.controls.telefone)">
				<app-campo-erro [mostrarErro]="invalidInputForm(formulario.controls.telefone)" [msgErro]="'Telefone inválido!'"></app-campo-erro>
			</div>
		</div>

		<div class="col-md-12 space-top">
			<label class="bold">Mensagem:</label>
			<textarea class="form-control" rows="5" placeholder="Escreva sua mensagem" name="mensagem" formControlName="mensagem"></textarea>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 mr-auto ml-auto">
			<button type="submit" id="btn-contato-submit" [disabled]="!f.valid" name="btn-contato-submit" class="btn btn-default btn-lg btn-fill">ENVIAR</button>
		</div>
	</div>

	<br />
</form>