.no-margin-top {
  margin-top: 0px !important;
}


.remover-button:hover {
  font-style: italic !important;
  font-style: bold !important;
  color: blue !important;
  cursor: pointer !important;
}

.text-black{
	color: black !important;
}