<div class="wrapper" style="overflow-x: hidden">
	<div class="page-header section-dark bgk-position size-banner" style="background-image: url('assets/img/trabalhe-conosco/01_imagem_banner.jpg')">
		<div class="filter"></div>
		<div class="content-center">
			<div class="container">
			</div>
		</div>
	</div>

	<div class="section">
		<ngx-loading [show]="enviandoForm"></ngx-loading>
		<div class="container">

			<div class="row">
				<div class="col-12">
					<h2 class="h2 bold text-center">
						Cadastre o seu currículo
					</h2>
					<br />
					<h5 class="h5-local text-center">
						Procurando uma lugar para trabalhar de forma colaborativa e participativa? Na Epax Construtora é assim!
						<br />
						Somos uma empresa feita de pessoas e te damos a liberdade para propor novas ideias e se desenvolver profissionalmente. Vamos trabalhar juntos para propor e planejar o futuro de Guarapuava.
					</h5>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<h3 class="h3 text-center">
						Preencha todos os itens do formulário e venha fazer parte da nossa equipe:
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<form #f="ngForm" class="contact-form" [formGroup]="formulario" (ngSubmit)="enviar()">
						<input type="hidden" name="identifier" value="contato-trabalhe-conosco">

						<div class="row">
							<div class="col-md-12">
								<label class="bold">Nome:</label>
								<div class="input-group" [class.has-danger]="invalidInputForm(formulario.controls.nome)">
									<div class="input-group-prepend content-icon-border">
										<span class="input-group-text none-border"><i class="nc-icon nc-single-02"></i></span>
									</div>
									<input type="text" class="form-control form-control-danger" placeholder="Seu nome" formControlName="nome" name="nome">
									<app-campo-erro [mostrarErro]="invalidInputForm(formulario.controls.nome)" [msgErro]="'Informe seu Nome.'"></app-campo-erro>
								</div>
							</div>

							<div class="col-md-12 space-top">
								<label class="bold">Email:</label>
								<div class="input-group" [class.has-danger]="invalidInputForm(formulario.controls.email)">
									<div class="input-group-prepend content-icon-border">
										<span class="input-group-text none-border"> <i class="nc-icon nc-email-85"></i></span>
									</div>
									<input type="email" class="form-control form-control-danger" placeholder="Seu e-mail" formControlName="email" name="email">
									<app-campo-erro [mostrarErro]="invalidInputForm(formulario.controls.email)" [msgErro]="'E-mail inválido!'"></app-campo-erro>
								</div>
							</div>

							<div class="col-md-4 space-top">
								<label class="bold">Telefone:</label>
								<div class="input-group" [class.has-danger]="invalidInputForm(formulario.controls.telefone)">
									<div class="input-group-prepend content-icon-border">
										<span class="input-group-text none-border"> <i class="nc-icon nc-mobile"></i></span>
									</div>
									<input type="text" class="form-control form-control-danger" maxlength="15" placeholder="Seu telefone" formControlName="telefone" name="telefone" (change)="telefoneMask(formulario.controls.telefone)">
									<app-campo-erro [mostrarErro]="invalidInputForm(formulario.controls.telefone)" [msgErro]="'Telefone inválido!'"></app-campo-erro>
								</div>
							</div>

							<div class="col-md-3 space-top">
								<label class="bold">CEP:</label>
								<div class="input-group" [class.has-danger]="invalidInputForm(formulario.controls.cep)">
									<div class="input-group-prepend content-icon-border">
										<span class="input-group-text none-border"> <i class="nc-icon nc-zoom-split"></i></span>
									</div>
									<input type="text" class="form-control form-control-danger" placeholder="Seu CEP" formControlName="cep" name="cep">
									<app-campo-erro [mostrarErro]="invalidInputForm(formulario.controls.cep)" [msgErro]="'Cep inválido!'"></app-campo-erro>
								</div>
							</div>

							<div class="col-md-5 space-top">
								<label class="bold">Cidade:</label>
								<div class="input-group" [class.has-danger]="invalidInputForm(formulario.controls.cidade)">
									<div class="input-group-prepend content-icon-border">
										<span class="input-group-text none-border"> <i class="nc-icon nc-pin-3"></i></span>
									</div>
									<input type="text" class="form-control form-control-danger" placeholder="Cidade" formControlName="cidade" name="cidade">
									<app-campo-erro [mostrarErro]="invalidInputForm(formulario.controls.cidade)" [msgErro]="'Cidade inválida!'"></app-campo-erro>
								</div>
							</div>

							<div class="col-md-12 space-top">
								<label class="bold">Endereço:</label>
								<div class="input-group" [class.has-danger]="invalidInputForm(formulario.controls.endereco)">
									<div class="input-group-prepend content-icon-border">
										<span class="input-group-text none-border"> <i class="nc-icon nc-map-big"></i></span>
									</div>
									<input type="text" class="form-control form-control-danger" placeholder="Seu Endereço" formControlName="endereco" name="endereco">
									<app-campo-erro [mostrarErro]="invalidInputForm(formulario.controls.endereco)" [msgErro]="'Endereço inválido!'"></app-campo-erro>
								</div>
							</div>


							<div class="col-md-12 space-top">
								<label class="bold">Selecione um arquivo:</label>
								<br />
								<input type="file" accept=".doc, .pdf, .txt, .docx" #curriculo name="curriculo" id="curriculo" style="display:none" (change)="onFileSelected($event)" formControlName="fileUpload">
								<button type="button" class="btn btn-secondary btn-fill no-margin-top" onclick="$('#curriculo').click()"><i class="nc-icon nc-single-copy-04"></i> Selecionar</button>
								<span>{{nomeArquivoanexo}}</span>
								<div *ngIf="percetualUpload > 0">
									<progress [value]="percetualUpload" max="100"></progress>
									{{ percetualUpload | number }}% <a class="remover-button" (click)="removerArquivo()">Remover</a>
								</div>
								<ngb-alert class="transitions text-black" *ngIf="tamanhoMaximoArquivo" type="warning" (close)="tamanhoMaximoArquivo = false">Tamanho máximo do arquivo deve ser de 1 MB </ngb-alert>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12 mr-auto ml-auto">
								<button type="submit" id="btn-contato-submit" name="btn-contato-submit" [disabled]="!f.valid || percetualUpload < 100" class="btn btn-default btn-lg btn-fill">ENVIAR</button>
							</div>
						</div>

						<br />
					</form>
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
	</div>
</div>