<swiper (indexChange)="indexChange($event)" (swipeleft)="swiper.directiveRef.nextSlide()" (swiperight)="swiper.directiveRef.prevSlide()">
	<div *ngFor="let image of images">
		<img [src]='image.src' alt="" class="img-none-effect img-pointer" (click)="goPage(image.router)">
		<i class="faixa-destaque" *ngIf="image.text">{{image.text}}</i>

		<div class="row">
			<div class="col-12" style="background-color: white;">
				&nbsp;
			</div>
		</div>
	</div>
</swiper>