i.faixa-destaque {
  border: 10px solid;
  border-color: #0b1011 #0b1011 #0b1011 #0b1011;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-37deg);
  position: fixed;
  left: -4vw;
  background-color: #0b1011;
  color: white;
  margin-top: 4vw;
  margin-left: 0vw;
  padding-right: 6vw;
  padding-left: 6vw;
  font-style: normal;
  font-family: "Montserrat", "Helvetica", Arial, sans-serif;
}
