.bold {
  font-weight: bold !important;
}

.splendor-logo {
  size: 500px;
}

.card-home {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
  transition: 0.3s !important;
  background-color: whitesmoke !important;
}

.card-home:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2) !important;
}

.container-home {
  padding: 2px 16px !important;
}

.button-middle {
  margin-left: 32vw;
}

.paddind-top {
  padding-top: 5vw;
}

.no-padding {
  padding: 0 !important;
}

.section-home {
  padding-bottom: 25px !important;
}

.font-color {
  color: whitesmoke;
}

.font-color-black {
  color: black;
}

.margin-text-title {
  margin-left: 10vw;
  margin-right: 10vw;
}
.card-home {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
  transition: 0.3s !important;
  background-color: whitesmoke !important;
}

.slice-card {
  background-color: #0b1011;
  height: 160px;
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  padding-left: 20px;
  padding-top: 10px;
  width: auto;
  cursor: zoom-in;
}

.button-card {
  position: fixed !important;
  bottom: 0 !important;
  margin-left: 30px !important;
  margin-bottom: 20px !important;
}

.none-opacity-text {
  opacity: 1 !important;
  color: whitesmoke !important;
}

.image-portfolio {
  margin: auto;
  left: auto;
  width: 100%;
  right: auto;
  cursor: zoom-in;
  margin-top: -10px;
}

.effect-row {
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transform: scale(1);
}

.effect-row:hover {
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transform: scale(1.05);
}

.margin-top-card {
  margin-top: 20px !important;
}

@media (min-width: 350px) {
  .center-div {
    margin: auto;
    width: 105%;
  }

  .section-portfolio {
    margin-top: 1vw;
    margin-bottom: 2vw;
    margin-right: 2vw;
    margin-left: 2px;
  }

  .modal-local {
    position: absolute;
    width: 65%;
    height: auto;
    min-width: 350px;
    margin-right: auto;
    margin-left: auto;
    top: 80%;
    z-index: 10000;
    background-color: white;
    border-radius: 5px;
    left: 2%;
    right: auto;
  }
}

@media (min-width: 600px) {
  .center-div {
    margin: auto;
    width: 52%;
  }
}

@media (min-width: 992px) {
  .center-div {
    margin: auto;
    width: 58%;
  }

  .modal-lg {
    max-width: 1000px !important;
  }

  .section-portfolio {
    margin-top: 1vw;
    margin-bottom: 2vw;
    margin-right: 2vw;
    margin-left: 2vw;
  }

  .modal-local {
    position: absolute;
    width: 65%;
    height: auto;
    min-width: 350px;
    margin-right: auto;
    margin-left: auto;
    top: 80%;
    z-index: 10000;
    background-color: white;
    border-radius: 5px;
    left: 20%;
    right: auto;
  }
}

@media (min-width: 1000px) {
  .center-div {
    margin: auto;
    width: 82%;
  }
}

@media (min-width: 1400px) {
  .center-div {
    margin: auto;
    width: 60%;
  }
}

@media (min-width: 2000px) {
  .center-div {
    margin: auto;
    width: 60%;
  }
}

@media (min-width: 2400px) {
  .center-div {
    margin: auto;
    width: 40%;
  }
}

.col-width {
  width: 375px;
}

agm-map {
  height: 300px;
}

.icon-padding {
  padding-top: 20px;
}

.filter-modal {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  height: 200%;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 9999;
}

.show-modal {
  display: initial !important;
}

.hide-modal {
  display: none !important;
}

button.nsm-dialog-btn-close {
  display: none;
}

.button-close {
  position: absolute;
  top: -4%;
  right: -3%;
  z-index: 10000;
  color: black;
  background-color: white;
  opacity: 1;
  border-radius: 35px;
  width: 60px;
  font-weight: 100 !important;
}

.postion-img-modal {
  height: 95%;
  max-height: 560px;
  width: 100%;
  margin-left: -20px;
  margin-top: -8px;
  padding-right: 0px;
}
