<div class="wrapper" style="overflow-x: hidden">
    <div class="page-header section-dark size-banner" style="background-image: url('assets/img/portfolio/00_imagem_banner.png')">
        <div class="content-center">
            <div class="container">
                <br />
                <h2 class="h2 text-center font-color">
                    <br />
                    <br />
                </h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 col-auto text-center font-color-black">
            <h2 class="h3 bold">Portfólio | A EPAX Construtora em Guarapuava</h2>
            <h5 class="h5 text-center margin-text-title">
                A EPAX é a única construtora e incorporadora com empreendimentos verticais de alto padrão em Guarapuava. Conheça nossos projetos.
            </h5>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="section-portfolio">

        <div class="container" [ngClass]="widithScreen <= 390 ? 'no-padding' : ''">
            <div class="row" [ngClass]="widithScreen < 1000 ? 'center-div' : ''">
                <div class="col-md-auto margin-top-card" style="min-width: 178.5px;" fxflex="calc(16.5% - 16px)" *ngIf="widithScreen >= 1000" >
                    &nbsp;
                </div>

                <div class="col-auto margin-top-card"  [ngClass]="widithScreen <= 390 ? 'no-padding' : ''">
                    <div class="row effect-row">
                        <div class="col-md-12">
                            <a (click)="portfolioSelected(1)">
                                <div class="slice-card">
                                    <h4 class="h4 card-title bold text-left none-opacity-text">
                                        Edifício Portal do Lago
                                    </h4>
                                    <br />
                                    <h5 class="h5 text-left none-opacity-text">
                                        Guarapuava - PR
                                        <br />
                                        Rua Coronel Saldanha, 3070
                                    </h5>
                                </div>
                                <img src="./assets/img/portfolio/01_imagem_portal_do_lago.png" alt="Epax" class="img-responsive image-portfolio">
                            </a>
                        </div>
                        <button class="btn btn-outline-light button-card" (click)="portfolioSelected(1)">Saiba mais</button>
                    </div>
                </div>

                <div class="col-auto margin-top-card"  [ngClass]="widithScreen < 390 ? 'no-padding' : ''">
                    <div class="row effect-row">
                        <div class="col-md-12">
                            <a (click)="portfolioSelected(3)">
                                <div class="slice-card">
                                    <h4 class="h4 card-title bold text-left none-opacity-text">
                                        Residencial Vila Buch
                                    </h4>
                                    <br />
                                    <h5 class="h5 text-left none-opacity-text">
                                        Guarapuava - PR
                                        <br />
                                        Rua do Bosque, 585
                                    </h5>
                                </div>
                                <img src="./assets/img/portfolio/01_vila_buch.png" alt="Epax" class="img-responsive image-portfolio">
                            </a>
                        </div>
                        <button class="btn btn-outline-light button-card" (click)="portfolioSelected(3)">Saiba mais</button>
                    </div>
                </div>

                <div class="col-md-auto margin-top-card" style="min-width: 178.5px;" fxflex="calc(16.5% - 16px)" *ngIf="widithScreen >= 1000">
                        &nbsp;
                </div>
            </div>
        </div>


        <div class="filter-modal" (click)="close()" [style.height]="(scrollPage * 5) + 'px'" [ngClass]="showModal ? 'show-modal' : 'hide-modal'"></div>
        <div id="modal" class="modal-local" [style.top]="scrollPage+ 'px'" [ngClass]="showModal ? 'show-modal' : 'hide-modal'">
            <ngx-smart-modal #myModal identifier="myModal" (onAnyCloseEvent)="close()">
                <div class="text-right">
                    <span class="button-close">
                        <button type="button" class="close" aria-label="Fechar" style="margin-top: 0px; font-size: 60px;" (click)="close()">
                            <span aria-hidden="true" style="padding-right: 10px;color:#BF1B1A;font-weight: 100">&times;</span>
                        </button>
                    </span>
                </div>
                <div style="padding: 20px 32px;" class="text-dark">
                    <form>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src={{portfolioSelecionado?.imgSrc}} alt="" class="postion-img-modal">
                                </div>
                                <div class="col-md-6">
                                    <h5 class="h5 bold">{{portfolioSelecionado?.nome}}</h5>


                                    <img alt="" class="icon-padding" src="./assets/img/portfolio/icones/01_icon_obra_concluida.png">
                                    <h5 class="bold h6-1">{{portfolioSelecionado?.obra}}</h5>
                                    <h5 class="h6-1 text-justify">
                                        {{portfolioSelecionado?.descricao}}
                                    </h5>

                                    <img alt="" class="icon-padding" src="./assets/img/portfolio/icones/01_icon_areaas_lazer.png">
                                    <h5 class="bold h6-1">ÁREA DE LAZER</h5>
                                    <p class="h6-1" *ngFor="let item of portfolioSelecionado?.areaLazer">
                                        {{item}}
                                    </p>


                                    <img alt="" class="icon-padding" src="./assets/img/portfolio/icones/01_icon_localizacao.png">
                                    <h5 class="bold h6-1">LOCALIZAÇÃO</h5>
                                    <h5 class="h6-1">{{portfolioSelecionado?.endereco}}</h5>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </ngx-smart-modal>
        </div>
    </div>
</div>