<div class="wrapper" style="overflow-x: hidden">
    <div class="section-dark top-margin">
        <div class="row">
            <div class="col-12 no-padding-sides">
                <div id="painel-flutuante" *ngIf="widithScreen > 991">
                    <div class="row ">
                        <div class="col-1 bold text-center"></div>
                        <div class="col-2 bold text-center">
                            <a [routerLink]="['/lancamentos/splendor/']" fragment="projeto" class="font-color-black">
                                <img alt="" src="./assets/img/empreendimentos/icones/01_icon_projeto.png">
                                <br />
                                Projeto
                            </a>
                        </div>
                        <div class="col-2 text-center bold">
                            <a [routerLink]="['/lancamentos/splendor/']" fragment="galeria" class="font-color-black">
                                <img alt="" src="./assets/img/empreendimentos/icones/01_icon_galeria.png">
                                <br />
                                Galeria
                            </a>
                        </div>
                        <div class="col-2 text-center bold">
                            <a [routerLink]="['/lancamentos/splendor/']" fragment="plantas" class="font-color-black">
                                <img alt="" src="./assets/img/empreendimentos/icones/01_icon_plantas.png">
                                <br />
                                Plantas
                            </a>
                        </div>
                        <div class="col-2 text-center bold">
                            <a [routerLink]="['/lancamentos/splendor/']" fragment="localizacao" class="font-color-black">
                                <img alt="" src="./assets/img/empreendimentos/icones/01_icon_localizacao.png">
                                <br />
                                Localização
                            </a>
                        </div>
                        <div class="col-2 text-center bold">
                            <a [routerLink]="['/lancamentos/splendor/']" fragment="contato" class="font-color-black">
                                <img alt="" src="./assets/img/empreendimentos/icones/01_icon_contato.png">
                                <br />
                                Contato
                            </a>
                        </div>
                        <div class="col-1 bold text-center"></div>
                    </div>
                </div>

                <div class="row padding-row-initial" id="projeto">
                    <div class="col-12 row-margin-bottom">
                        <div class="row">
                            <div class="col-12 text-center text-color-ligth">
                                <img src="assets/img/home/01_Logo_Splendor.png" class="top-img" alt="Epax Construtora - Splendor">
                                <br />
                                <h2 class="h2">Grandioso, luxuoso e exclusivo, como você!</h2>
                                <h3 class="h5 text-center padding-lr-text">
                                    Com características únicas e acabamentos alto padrão,
                                    o SPLENDOR está localizado em uma das regiões mais privilegiadas de Guarapuava,
                                    com vista definitiva para o Parque do Lago.
                                </h3>
                                <br />
                                <div class="line-gold width-l">
                                </div>
                            </div>
                        </div>
                        <div class="row text-color-ligth space-top" *ngIf="widithScreen > 991">
                            <div class="col-md-2 text-center font-text-icon">
                                <img class="icon-size" alt="" src="./assets/img/empreendimentos/icones/02_icon_metragem.png">
                                <br /> 290,9m² a 631m²
                            </div>

                            <div class="col-md-2 text-center font-text-icon">
                                <img class="icon-size" alt="" src="./assets/img/empreendimentos/icones/02_duplex.png">
                                <br /> Apartamentos tipo e duplex
                            </div>

                            <div class="col-md-2 text-center font-text-icon">
                                <img class="icon-size" alt="" src="./assets/img/empreendimentos/icones/02_icon_vagas.png">
                                <br /> 3 a 6 vagas de garagem
                            </div>

                            <div class="col-md-2 text-center font-text-icon">
                                <img class="icon-size" alt="" src="./assets/img/empreendimentos/icones/02_icon_vista.png">
                                <br /> Vista definitiva para o Parque do Lago
                            </div>

                            <div class="col-md-2 text-center font-text-icon">
                                <img class="icon-size" alt="" src="./assets/img/empreendimentos/icones/02_icon_areas_comuns.png">
                                <br /> Área de lazer com mais de 10 ambientes
                            </div>

                            <div class="col-md-2 text-center font-text-icon">
                                <img class="icon-size" alt="" src="./assets/img/empreendimentos/icones/02_icon_unidades.png">
                                <br /> 1 ou 2 unidades por andar
                            </div>
                        </div>

                        <div class="row text-color-ligth space-top" *ngIf="widithScreen < 991">
                            <div class="col-12">
                                <table class="table" aria-hidden="true">
                                    <tbody>
                                        <tr>
                                            <td class="td-no-border">
                                                <div class="text-center">
                                                    <img class="icon-size" alt="" src="./assets/img/empreendimentos/icones/02_icon_metragem.png">
                                                    <br /> 290,9m² a 631m²
                                                </div>
                                            </td>
                                            <td class="td-no-border">
                                                <div class="text-center">
                                                    <img class="icon-size" alt="" src="./assets/img/empreendimentos/icones/02_duplex.png">
                                                    <br /> Apartamentos tipo e duplex
                                                </div>
                                            </td>
                                            <td class="td-no-border">
                                                <div class="text-center">
                                                    <img class="icon-size" alt="" src="./assets/img/empreendimentos/icones/02_icon_vagas.png">
                                                    <br /> 3 a 6 vagas de garagem
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="td-no-border">
                                                <div class="text-center">
                                                    <img class="icon-size" alt="" src="./assets/img/empreendimentos/icones/02_icon_vista.png">
                                                    <br /> Vista definitiva para o Parque do Lago
                                                </div>
                                            </td>
                                            <td class="td-no-border">
                                                <div class="text-center">
                                                    <img class="icon-size" alt="" src="./assets/img/empreendimentos/icones/02_icon_areas_comuns.png">
                                                    <br /> Área de lazer com mais de 10 ambientes
                                                </div>
                                            </td>
                                            <td class="td-no-border">
                                                <div class="text-center">
                                                    <img class="icon-size" alt="" src="./assets/img/empreendimentos/icones/02_icon_unidades.png">
                                                    <br /> 1 ou 2 unidades por andar
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row bg-white" id="galeria">
                    <div class="col-md-12" style="height: 800px;">
                        <ng-image-slider #nav
                            [infinite]="true"
                            [images]="listaGaleria"
                            [animationSpeed]="0.5"
                            [imageSize]="{width: 800, height: 800, space: 3}">
                        </ng-image-slider>
                    </div>
                </div>

                <div id="plantas" class="nav-tabs-navigation m-position" >

                    <div class="section section-gray text-dark">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <h2 class="bold h3">Plantas</h2>
                                    <h3 class="h5"> Personalização, conforto, design inovador, funcionalidade e qualidade de acabamento são algumas das características que definem a exclusividade de morar em um Splendor.</h3>
                                </div>
                            </div>
                            <div class="row section-gray text-dark">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    <div class="nav-tabs-wrapper" *ngIf="widithScreen > 991">
                                        <ngb-tabset [justify]="'center'" (tabChange)="beforeChange($event)" type="pills">
                                            <ngb-tab title="{{item.tipo}}" id="{{countIndex}}" *ngFor="let item of plantasApartamento; let countIndex = index">
                                                <ng-template ngbTabContent>
                                                    <div class="row bg-white card-progresso-obra">
                                                        <div class="col-md-12 no-padding-sides">
                                                            <div class="line-gold width-full"></div>
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    &nbsp;
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-md-6 padding-contents-card img-plantas">
                                                                    <ng-image-slider
                                                                        id="{{countIndex}}"
                                                                        [infinite]="true"
                                                                        [images]="item.imagens"
                                                                        [animationSpeed]="0.5"
                                                                        [showArrow]="item.imagens.length > 1"
                                                                        [imageSize]="{width: 400, height: 600, space: 3}">
                                                                    </ng-image-slider>
                                                                </div>
                                                                <div class="col-md-6 padding-contents-card">
                                                                    <div class="row text-justify">
                                                                        <h4 class="p-right h4 font-text-icon bold font-color-black">
                                                                            <img src="./assets/img/empreendimentos/icones/metragem.png" alt="" class="spacing icon-size"> {{item.metragem}}
                                                                        </h4>
                                                                    </div>
                                                                    <div class="row text-justify">
                                                                        <h4 class="p-right h4 font-text-icon bold font-color-black">
                                                                            <img src="./assets/img/empreendimentos/icones/vagas.png" alt="" class="spacing icon-size"> {{item.vagas_garagem}}
                                                                        </h4>
                                                                    </div>
                                                                    <div class="row text-justify" *ngIf="item.total_unidades">
                                                                        <h4 class="p-right h4 font-text-icon bold font-color-black">
                                                                            <img src="./assets/img/empreendimentos/icones/unidades.png" alt="" class="spacing icon-size"> {{item.total_unidades}}
                                                                        </h4>
                                                                    </div>
                                                                    <div class="row text-justify">
                                                                        <h4 class="p-right h4 font-text-icon bold font-color-black">
                                                                            <img src="./assets/img/empreendimentos/icones/andar.png" alt="" class="spacing icon-size"> {{item.unidades_andar}}
                                                                        </h4>
                                                                    </div>
                                                                    <div class="row text-justify">
                                                                        <h4 class="p-right h4 font-text-icon bold font-color-black">
                                                                            <img src="./assets/img/empreendimentos/icones/pavimentos.png" alt="" class="spacing icon-size"> {{item.pavimento}}
                                                                        </h4>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-12">
                                                                    &nbsp;
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </ng-template>
                                            </ngb-tab>

                                        </ngb-tabset>
                                    </div>

                                    <div id="plantaMobile" *ngIf="widithScreen <= 991">
                                        <div class="box-type-planta">{{obraSelecionada.tipo}}</div>

                                        <swiper (indexChange)="indexChange($event, swiper, plantasApartamento)" (swipeleft)="swiper.directiveRef.nextSlide()" (swiperight)="swiper.directiveRef.prevSlide()">

                                        </swiper>

                                        <ngb-carousel #mobilePlantaCarousel [pauseOnHover]="true" [interval]="15000" (slide)="onSlide($event)">
                                            <ng-template ngbSlide id="{{countIndex}}" *ngFor="let item of plantasApartamento; let countIndex = index">
                                                <div class="row bg-white card-progresso-obra" (swipeleft)="mobilePlantaCarousel.next()" (swiperight)="mobilePlantaCarousel.prev()">
                                                    <div class="col-md-12">
                                                        <div class="line-gold width-full"></div>
                                                        <div class="row">
                                                            <div class="col-md-6 padding-contents-card img-plantas">
                                                                <img alt="Modelo Apartamento Splendor" style="width: 100%; height: auto;" [src]="item.imagens[0].image">
                                                            </div>
                                                            <div class="col-md-6 padding-contents-card">
                                                                <div class="row text-justify">
                                                                    <h4 class="p-right h4 font-text-icon bold font-color-black">
                                                                        <img src="./assets/img/empreendimentos/icones/metragem.png" alt="" class="spacing icon-size"> {{item.metragem}}
                                                                    </h4>
                                                                </div>
                                                                <div class="row text-justify">
                                                                    <h4 class="p-right h4 font-text-icon bold font-color-black">
                                                                        <img src="./assets/img/empreendimentos/icones/vagas.png" alt="" class="spacing icon-size"> {{item.vagas_garagem}}
                                                                    </h4>
                                                                </div>
                                                                <div class="row text-justify" *ngIf="item.total_unidades">
                                                                    <h4 class="p-right h4 font-text-icon bold font-color-black">
                                                                        <img src="./assets/img/empreendimentos/icones/unidades.png" alt="" class="spacing icon-size"> {{item.total_unidades}}
                                                                    </h4>
                                                                </div>
                                                                <div class="row text-justify">
                                                                    <h4 class="p-right h4 font-text-icon bold font-color-black">
                                                                        <img src="./assets/img/empreendimentos/icones/andar.png" alt="" class="spacing icon-size"> {{item.unidades_andar}}
                                                                    </h4>
                                                                </div>
                                                                <div class="row text-justify">
                                                                    <h4 class="p-right h4 font-text-icon bold font-color-black">
                                                                        <img src="./assets/img/empreendimentos/icones/pavimentos.png" alt="" class="spacing icon-size"> {{item.pavimento}}
                                                                    </h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </ngb-carousel>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>

                    <div class="bg-white">
                        <div class="container">
                            <div class="row row-top-margin-40">
                                <div class="col-1"></div>
                                <div class="col-10 card-progresso-obra">

                                    <div class="row text-dark">
                                        <div class="col-1"></div>
                                        <div class="col-9 text-left">
                                            <h2 class="h3 bold">
                                                Acompanhamento
                                                <br />das obras
                                            </h2>
                                            <h4 class="h5">Confira o infográfico com o estágio de cada etapa da obra:</h4>
                                            <br />
                                            <div class="line-gold"></div>
                                            <br />
                                        </div>
                                        <div class="col-2"></div>
                                    </div>

                                    <div class="row text-dark">
                                        <div class="col-1"></div>
                                        <div class="col-10">
                                            <table class="table" aria-hidden="true">
                                                <tbody>
                                                    <tr *ngFor="let item of progressoConstrucao">
                                                        <td class="text-left td-text width-c td-no-border">
                                                            <i class="bold">{{item.descricao}}</i>
                                                        </td>
                                                        <td class="text-left td-no-border">
                                                            <p class="p-progress">
                                                                <ngb-progressbar type="danger"
                                                                    [value]="item.valor"
                                                                    [animated]="true"
                                                                    height="30px">
                                                                    <div class="row" [ngClass]="item.valor > 0 ? 'text-color-ligth' : 'text-color-red'">
                                                                        <i class="spacing-progress bold">{{item.valor}}%</i>
                                                                    </div>
                                                                </ngb-progressbar>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-1"></div>
                                    </div>
                                    <br />
                                </div>
                                <div class="col-1"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="localizacao" style="margin: 0px 0px 0px 0px;" *ngIf="widithScreen > 991">
                    <div class="col-md-12">
                        <app-localizacao-maps [enderecoText]="'Rua Guaíra, 4151 - Guarapuava - PR'" [coordenadas]="coordenadas">
                        </app-localizacao-maps>
                    </div>
                </div>

                <div class="row" id="bairro"></div>

                <div class="container" id="contato">
                    <div class="col-12">
                        <div class="row margin-content">
                            <div class="col-12 text-center text-color-ligth">
                                <h3 class="h3 bold"> Para receber mais informações, entre em contato conosco</h3>
                                <br />
                                <h3 class="h5">Conheça todos os detalhes sobre o imóvel ou esclareça suas dúvidas. Envie-nos uma mensagem!</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>

                            <div class="col-md-8">
                                <app-contato-formulario [identificador]="'Informação-Splendor'"></app-contato-formulario>
                            </div>

                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>