<nav class="navbar navbar-expand-lg fixed-top navbar-areacliente" color-on-scroll="500" aria-label *ngIf="widithScreen > 991.58">
    <div class="container" style="height: 40px;">
        <ul class="navbar-nav ml-auto">
            <!-- <li class="nav-item">
                <a href="#" class="nav-link" target="_blank"> ÁREA DO CLIENTE </a>
            </li> -->

            <li class="nav-item">
                <a class="nav-link" rel="noopener noreferrer tooltip" title="Siga a EPAX no Instagram" data-placement="top" target="_blank" href="https://www.instagram.com/epax.construtora/">
                    <em class="fa fa-instagram icon-size"></em>
                    <p class="d-lg-none">Instagram</p>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" rel="noopener noreferrer tooltip" title="Curta a EPAX no Facebook" data-placement="top" target="_blank" href="https://www.facebook.com/Epaxconstrutora/">
                    <em class="fa fa-facebook-square icon-size"></em>
                    <p class="d-lg-none">Facebook</p>
                </a>
            </li>
        </ul>
    </div>
</nav>

<nav class="navbar navbar-expand-lg fixed-top top-div-area-cliente" color-on-scroll="500" aria-label>
    <div class="container">
        <div class="navbar-translate">
            <a routerLink="/" routerLinkActive="active" class="nav-link">
                <img src="assets/img/home/00_logo_epax.png" alt="Epax Construtora">
            </a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto" style="height:unset">
                <li class="nav-item">
                    <a routerLink="/sobre" routerLinkActive="active" class="nav-link"> SOBRE </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/lancamentos" routerLinkActive="active" class="nav-link"> LANÇAMENTOS </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/portfolio" routerLinkActive="active" class="nav-link"> PORTFÓLIO </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/contato" routerLinkActive="active" class="nav-link"> CONTATO </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/blog" routerLinkActive="active" class="nav-link"> BLOG </a>
                </li>

                <li class="nav-item">
                    <a routerLink="/trabalheconosco" routerLinkActive="active" class="nav-link"> TRABALHE CONOSCO </a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto" style="height:auto" *ngIf="widithScreen <= 991">
                <!-- <li class="nav-item">
                    <a href="#" class="nav-link" target="_blank"> ÁREA DO CLIENTE </a>
                </li> -->

                <li class="nav-item">
                    <a class="nav-link" rel="noopener noreferrer tooltip" title="Siga a EPAX no Instagram" data-placement="top" target="_blank" href="https://www.instagram.com/epax.construtora/">
                        <em class="fa fa-instagram icon-size"></em>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" rel="noopener noreferrer tooltip" title="Curta a EPAX no Facebook" data-placement="top" target="_blank" href="https://www.facebook.com/Epaxconstrutora/">
                        <em class="fa fa-facebook-square icon-size"></em>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav [classList]="!isHome() ? 'navbar navbar-expand-lg fixed-top navbar-solid-color-breadcumb breadcrumb-top' : 'navbar navbar-expand-lg fixed-top navbar-solid-color-breadcumb breadcrumb-top bkg-color-0'" aria-label id="navbreadcumb" color-on-scroll="500" *ngIf="widithScreen > 991.58">
    <div class="container" style="display: none;">
        <xng-breadcrumb [autoGenerate]="false" separator=">">
        </xng-breadcrumb>
    </div>

    <div class="container" style="padding-left: 35px;" *ngIf="!isHome()">
        <div class="xng-breadcrumb-root">
            <nav aria-label="breadcrumb">
                <ol class="xng-breadcrumb-list">
                    <li class="xng-breadcrumb-item" *ngFor="let item of breadsCumList(); let countIndex = index">
                        <a class="xng-breadcrumb-link text-left" [routerLink]="item.routeLink" *ngIf="item.active">
                            <span *ngIf="countIndex > 0" style="margin-left: 3px; margin-right: 3px;"> > </span> {{item.label}}
                        </a>

                        <a class="xng-breadcrumb-link text-left" *ngIf="!item.active">
                            <span *ngIf="countIndex > 0" style="margin-left: 3px; margin-right: 3px;"> > </span> {{item.label}}
                        </a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</nav>