.breadcrumb {
  display: inline-block;
  background-color: transparent !important;
  color: whitesmoke !important;
}
.breadcrumb:first-child:before {
  display: none;
}

.front-zindex {
  z-index: 10000;
}

.icon-size {
  font-size: 25px;
}

.bkg-color-0 {
  background-color: transparent !important;
}

.breadcrumb-top {
  margin-top: 100px;
  padding: 16px;
  box-shadow: none !important;
  height: 10px;
}

@media only screen and (max-width: 991.58px) {
  .navbar-areacliente {
    display: none;
  }

  .top-div-area-cliente {
    top: 0 !important;
  }
}

@media only screen and (min-width: 200px) {

  .bkg-color {
    background-color: transparent;
    height: 45px;
    padding-top: 1%;
  }
}

@media only screen and (min-width: 500px) {

  .bkg-color {
    background-color: transparent;
    height: 45px;
    padding-top: 1%;
  }
}

@media only screen and (min-width: 800px) {

  .bkg-color {
    background-color: transparent;
    height: 45px;
    padding-top: 1%;
  }
}

@media only screen and (min-width: 992px) {
  .navbar-areacliente {
    display: initial;
    background-color: gray !important;
    height: 40px !important;
  }

  .top-div-area-cliente {
    top: 35px !important;
  }
}

@media only screen and (min-width: 1000px) {

  .bkg-color {
    background-color: transparent;
    height: 45px;
    padding-top: 1%;
  }
}

.navbar-solid-color-breadcumb {
  background-color: #BF1B1A;
}
