<div class="row">
	<div class="col-md-7 no-padding">
		<agm-map [latitude]="coordenadas.latitude" [zoom]="coordenadas.zoom" [longitude]="coordenadas.longitude" [scrollwheel]="null">
			<agm-marker [latitude]="coordenadas.latitude" [longitude]="coordenadas.longitude"></agm-marker>
		</agm-map>
	</div>
	<div class="col-md-5 text-left bg-color-epax-red text-color-ligth row-top-padding">
		<div class="row">
			<div class="col-md-5 text-center">
				<img class="icon-size2" alt="" src="./assets/img/empreendimentos/icones/04_icon_localizacao.png">
				<h2 class="h3 bold">Endereço:</h2>
			</div>
			<div class="col-md-7"></div>
		</div>
		<div class="row">
			<div class="col-md-8 text-right " style="padding-right: 25px;">
				<h4 class="h5">{{enderecoText}}</h4>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</div>