<div class="container" [classList]="posts.length <= 2 ? 'padding-center' : ''" *ngIf="!groupInCarouselWhenMobile">
	<div class="row" id="blogs">
		<div class="col-md-auto" fxFlex="calc(33% - 16px)" *ngFor="let conteudoPost of posts">
			<div class="card card-blog" style="min-height: 676px;width: 350px;">
				<h3 class="card-title text-center bold">
					{{conteudoPost.titulo}}
				</h3>
				<h6 class="h6-1 text-center">{{conteudoPost.dataPost}}</h6>

				<div class="card-image">
					<p [innerHTML]="conteudoPost.img"></p>
				</div>

				<h3 class="card-content" [innerHTML]="conteudoPost.conteudo">

				</h3>

				<div class="card-footer">
					<div class="stats">
						<button type="button" class="btn btn-outline-danger" (click)="goPost(conteudoPost)"> Saber mais </button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div *ngIf="widithScreen <= 991 && groupInCarouselWhenMobile">
	<div class="row">
		<div class="col-md-2">&nbsp;</div>
		<div class="col-md-6">
			<swiper (indexChange)="indexChange($event, swiper, posts)" (swipeleft)="swiper.directiveRef.nextSlide()" (swiperight)="swiper.directiveRef.prevSlide()">
				<div *ngFor="let conteudoPost of posts">
					<div class="card card-blog">
						<div>
							<h3 class="card-title text-center bold">
								{{conteudoPost.titulo}}
							</h3>
							<h6 class="h6-1 text-center">{{conteudoPost.dataPost}}</h6>

							<div class="card-image text-center">
								<p [innerHTML]="conteudoPost.img"></p>
							</div>

							<h3 class="card-content" [innerHTML]="conteudoPost.conteudo">

							</h3>
						</div>
						<div class="card-footer">
							<div class="stats">
								<button type="button" class="btn btn-outline-danger" (click)="goPost(conteudoPost)"> Saber mais </button>
							</div>
						</div>
					</div>
				</div>
			</swiper>
		</div>
		<div class="col-md-3">&nbsp;</div>
	</div>
</div>