.bold {
  font-weight: bold !important;
}

.card {
  background-color: white;
}

.padding-center {
  padding-left: 200px;
}



@media only screen and (min-width: 320px) {
  .card-blog {
    min-height: 676px;
    width: 320px;
  }
}

@media only screen and (min-width: 350px) {
  .card-blog {
    min-height: 676px;
    width: 350px;
  }
}

@media only screen and (min-width: 360px) {
  .card-blog {
    min-height: 676px;
    width: 360px;
  }
}

@media only screen and (min-width: 375px) {
  .card-blog {
    min-height: 676px;
    width: 375px;
  }
}

@media only screen and (min-width: 410px) {
  .card-blog {
    min-height: 676px;
    width: 410px;
  }
}

@media only screen and (min-width: 414px) {
  .card-blog {
    min-height: 676px;
    width: 414px;
  }
}

@media only screen and (min-width: 700px) {
  .card-blog {
    min-height: 676px;
    width: 450px;
  }
}