.splendor-logo {
  size: 500px;
}

.bold {
  font-weight: bold !important;
}

.card-home {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
  transition: 0.3s !important;
  background-color: whitesmoke !important;
}

.card-home:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2) !important;
}

.container-home {
  padding: 2px 16px !important;
}

.button-middle {
  margin-left: 32vw;
}

.paddind-top {
  padding-top: 5vw;
}

.blog-bg-color {
  background-color: whitesmoke !important;
}

.section-home {
  padding-bottom: 25px !important;
}

.title-top {
  padding-top: 20vw;
}

.card {
  background-color: white;
}

@media (min-width: 300px) {
  .bgk-position {
    background-position-x: 180vw;
  }
}

@media (min-width: 992px) {
  .bgk-position {
    background-position-x: center;
  }
}

.h5-local {
  font-size: 1.1rem;
}