<div class="wrapper" style="overflow-x: hidden">
    <div class="page-header section-dark bgk-position size-banner" style="background-image: url('assets/img/blog/01_imagem_banner.png')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
            </div>
        </div>
    </div>
    <div class="main blog-bg-color">
        <div class="section blog-bg-color text-dark">
            <div class="row">
                <div class="col-12">
                    <h2 class="h3 bold text-center">
                        Blog Epax
                    </h2>
                    <br />
                    <h5 class="h5-local text-center">
                        Informações e notícias sobre nossos projetos e o mercado imobiliário de Guarapuava
                    </h5>
                </div>
            </div>
            <br />
            <br />
            <div class="page-wrapper blog-bg-color">
                <ngx-loading [show]="!allPosts || allPosts.length == 0"></ngx-loading>
                <div class="blog-bg-color" *ngIf="widithScreen > 991">
                    <div class="container">
                        <div class="row" id="blogs">
                            <app-card-conteudo [posts]="posts"></app-card-conteudo>
                        </div>
                    </div>

                    <br />
                    <br />
                    <div class="text-center">
                        <ngb-pagination [collectionSize]="totalPages * 10" (pageChange)="pageChange($event)" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
                    </div>
                </div>

                <div *ngIf="widithScreen <= 991">
                    <div class="row">
                        <div class="col-md-auto col-lg-auto">
                            <app-card-conteudo [posts]="posts" [groupInCarouselWhenMobile]="true"></app-card-conteudo>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>