<div class="wrapper" style="overflow-x: hidden">
    <app-banner-slide [slides]="slides">
    </app-banner-slide>

    <div class="main">
        <div class="section p-top" style="padding-bottom: 0vw;">
            <div class="row">
                <div class="col-12 bg-color-epax">
                    <div class="row">
                        <div class="col-12 text-center">

                            <h2 class="bold h3">
                                Construtora em Guarapuava
                            </h2>
                            <h4 class="h5">
                                <p>A <strong class="bold">EPAX</strong> é uma construtora que entende a importância de morar bem.
                                    <br />Sofisticação e imóveis com qualidade alto padrão são os pilares que sustentam o conceito dos nossos projetos.
                                </p>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <br />
                            <button type="button" routerLink="/sobre" class="btn btn-outline-neutral">Saber mais</button>
                            <br />
                        </div>
                    </div>
                    <br />
                </div>
                <div class="row bg-color-black">

                    <div class="col-md-6">
                        <img src="./assets/img/home/02_Imagem_Epax.png" id="img-epax" alt="Epax" class="img-responsive">
                        <br />
                    </div>

                    <div class="col-md-6 bg-color-black padding-sides">
                        <div class="tim-title color-text-ligth">
                            <h2 class="h3">Empreendimentos</h2>
                        </div>
                        <h5 class="h6-1">
                            <p class="align-text-description color-text-ligth margin-text-emp">
                                Construídos nas melhores localizações de Guarapuava, os empreendimentos EPAX são pensados para proporcionar a melhor experiência de morar, com áreas comuns completas e plantas inteligentes para você viver com mais qualidade de vida e tranquilidade.
                            </p>
                        </h5>
                        <br />
                        <button type="button" class="btn btn-outline-neutral mb-button-20" routerLink="/portfolio">Ver portfólio</button>
                    </div>
                </div>
            </div>

            <div class="section blog-bg-color">
                <div class="tim-title text-center" style="padding-bottom: 30px;">
                    <h2 class="h2 bold text-dark">Blog Epax</h2>
                </div>
                <div class="blog-bg-color">
                    <ngx-loading [show]="!posts || posts.length == 0"></ngx-loading>
                    <div class="align-card-blog-mobile" *ngIf="widithScreen <= 991">
                        <div class="row">
                            <div class="col-md-auto col-lg-auto">
                                <app-card-conteudo [posts]="posts" [groupInCarouselWhenMobile]="true"></app-card-conteudo>
                            </div>
                        </div>
                    </div>

                    <div class="container" *ngIf="widithScreen > 991">
                        <div class="row" id="blogs">
                            <app-card-conteudo [posts]="posts"></app-card-conteudo>
                            <br />
                        </div>
                        <div class="text-center paddind-top">
                            <button type="button" class="btn btn-default" routerLink="/blog">VER TODAS</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12" style="background-color: white;">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
</div>