.splendor-logo {
  size: 500px;
}

.card-home {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
  transition: 0.3s !important;
  background-color: whitesmoke !important;
}

.card-home:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2) !important;
}

.align-card-blog-mobile {
  padding-left: 5px;
}

.container-home {
  padding: 2px 16px !important;
}

.button-middle {
  margin-left: 32vw;
}

.mb-button-20 {
  margin-bottom: 20px;
}

.paddind-top {
  padding-top: 5vw;
}

.color-text-ligth {
  color: white !important;
}

.section-home {
  padding-bottom: 25px !important;
}

.card {
  background-color: white;
}
.card-title {
  padding-left: 5px;
}

.card-description {
  padding-left: 10px;
  padding-right: 10px;
}

.avatar {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 5px;
}

.bg-color-epax {
  background-color: #bf1b1a;
  color: white;
}

.blog-bg-color {
  background-color: #c4c4c4 !important;
}

.p-top {
  padding-top: 20px !important;
}

.bg-color-black {
  background-color: #0b1011 !important;
}

@media only screen and (min-width: 200px) {
  #img-epax {
    margin-left: 0;
  }

  .align-text-description {
    text-align: left;
  }

  .padding-sides {
    padding-right: 110px;
    padding-left: 45px;
  }
}

@media only screen and (min-width: 300px) {
  #img-epax {
    margin-left: -64vw;
    height: 260px;
  }

  .align-text-description {
    text-align: left;
  }

  .padding-sides {
    padding-right: 100px;
    padding-left: 45px;
  }

  .padding-sides {
    padding-right: 100px;
    padding-left: 45px;
  }
}

@media only screen and (min-width: 320px) {
  #img-epax {
    margin-left: -83vw;
    height: 260px;
  }

  .align-text-description {
    text-align: left;
  }

  .padding-sides {
    padding-right: 100px;
    padding-left: 45px;
  }
}

@media only screen and (min-width: 375px) {
  #img-epax {
    margin-left: -60vw;
    height: 260px;
  }

  .align-text-description {
    text-align: left;
  }

  .padding-sides {
    padding-right: 55px;
    padding-left: 45px;
  }
}

@media only screen and (min-width: 400px) {
  #img-epax {
    margin-left: -33vw;
  }

  .align-text-description {
    text-align: left;
  }

  .padding-sides {
    padding-right: 55px;
    padding-left: 45px;
  }
}

@media only screen and (min-width: 500px) {
  #img-epax {
    margin-left: -26vw;
  }

  .align-text-description {
    text-align: left;
  }

  .padding-sides {
    padding-right: 100px;
    padding-left: 45px;
  }
}

@media only screen and (min-width: 550px) {
  #img-epax {
    margin-left: -14vw;
  }

  .align-text-description {
    text-align: left;
  }

  .padding-sides {
    padding-right: 55px;
    padding-left: 45px;
  }
}

@media only screen and (min-width: 600px) {
  #img-epax {
    margin-left: -10vw;
  }

  .align-text-description {
    text-align: left;
  }

  .padding-sides {
    padding-right: 55px;
    padding-left: 45px;
  }
}

@media only screen and (min-width: 650px) {
  #img-epax {
    margin-left: 2.5vw;
  }

  .align-text-description {
    text-align: left;
  }

  .padding-sides {
    padding-right: 55px;
    padding-left: 45px;
  }
}

@media only screen and (min-width: 700px) {
  #img-epax {
    margin-left: 6vw;
  }

  .align-text-description {
    text-align: justify;
  }

  .padding-sides {
    padding-right: 55px;
    padding-left: 45px;
  }
}

@media only screen and (min-width: 768px) {
  #img-epax {
    margin-left: -47vw;
    height: 334px;
  }

  .align-text-description {
    text-align: justify;
  }

  .padding-sides {
    padding-right: 55px;
    padding-left: 45px;
  }
}

@media only screen and (min-width: 800px) {
  #img-epax {
    margin-left: -40vw;
  }

  .align-text-description {
    text-align: justify;
  }

  .padding-sides {
    padding-right: 55px;
    padding-left: 45px;
  }
}

@media only screen and (min-width: 1000px) {
  #img-epax {
    margin-left: -26vw;
  }

  .align-text-description {
    text-align: justify;
  }

  .padding-sides {
    padding-right: 55px;
    padding-left: 45px;
  }
}

@media only screen and (min-width: 1020px) {
  #img-epax {
    margin-left: -24vw;
  }

  .align-text-description {
    text-align: justify;
  }

  .padding-sides {
    padding-right: 55px;
    padding-left: 45px;
  }
}

@media only screen and (min-width: 1150px) {
  #img-epax {
    margin-left: -12vw;
  }

  .align-text-description {
    text-align: justify;
  }

  .padding-sides {
    padding-right: 55px;
    padding-left: 45px;
  }
}

@media only screen and (min-width: 1200px) {
  #img-epax {
    margin-left: -15vw;
  }

  .align-text-description {
    text-align: justify;
  }

  .padding-sides {
    padding-right: 55px;
    padding-left: 45px;
  }
}

@media only screen and (min-width: 1300px) {
  #img-epax {
    margin-left: 1.1vw;
    width: inherit;
  }

  .align-text-description {
    text-align: justify;
  }

  .padding-sides {
    padding-right: 55px;
    padding-left: 45px;
  }
}

.margin-text-emp {
  margin-right: 20%;
}
