.button-middle {
  text-align: center;
  display: block;
}

.bg-color {
  background-color: #0b1011;
}

.pading-content {
  padding: 50px;
}

.bottom {
  margin-bottom: 100px;
}

.top {
  margin-top: 30px;
}
.no-padding-td {
  padding: 0.1rem;
}
.padding-left {
  padding-left: 50px;
}

.faixa-vermelha {
  border: solid #BF1B1A 3px;
  padding-left: 70px;
  background-color: #BF1B1A;
  font-size: 2px;
}

@media only screen and (min-width: 200px) {
  .margin-top {
    margin-top: 23vw;
  }

  .button-size {
    min-width: 185px !important;
    margin-top: 5px;
  }

  .img-dog-mb {
    display: initial;
  }

  .img-dog {
    display: none;
  }

  .row-mb {
    display: unset;
  }

  .padding-content {
    padding: 0px !important;
  }

}

@media only screen and (max-width: 999px) {
  .margin-top {
    margin-top: 23vw;
  }

  .padding-content {
    padding: 30px !important;
  }

  .button-size {
    min-width: 185px !important;
    margin-top: 5px;
  }

  .img-dog-mb {
    display: initial;
    margin-top: -190px;
  }

  .img-dog {
    display: none;
  }

  .row-mb {
    display: unset;
  }
}

@media only screen and (min-width: 1000px) {
  .margin-top {
    margin-top: 23vw;
  }

  .padding-content {
    padding: 30px !important;
  }


  .button-size {
    min-width: 185px !important;
    margin-top: 5px;
  }

  .img-dog-mb {
    display: none;
  }

  .img-dog {
    display: initial;
  }

  .row-mb {
    display: flex;
  }
}

@media only screen and (min-width: 1200px) {
  .margin-top {
    margin-top: 23vw;
  }

  .button-size {
    min-width: 235px !important;
    margin-top: 5px;
  }

  .padding-content {
    padding: 30px !important;
  }


  .img-dog-mb {
    display: none;
  }

  .img-dog {
    display: initial;
  }

  .row-mb {
    display: flex;
  }
}
