<div class="wrapper" style="overflow-x: hidden">
    <div class="row">
        <div class="col-md-12 pading-content"></div>
    </div>
    <div class="main top bottom">
        <div class="container" style="padding-right: 0px; padding-left: 0px; margin-right: auto;margin-left: -3px;">
            <div class="row row-mb">
                <div class="col-md-8 padding-content">
                    <h2 class="h2">
                        Ops, página
                    </h2>
                    <h2 class="h2 bold">não encontrada!</h2>
                    <em class="faixa-vermelha"></em>
                    <br />
                    <div class="col-md-4 img-dog-mb">
                        <img alt="" src="assets/img/page404/01_imagem_dog.png">
                    </div>
                    <h4 class="h4 bold">
                        A página que você está procurando está fora do ar ou foi removida.
                    </h4>
                    <h4 class="h4">
                        Para continuar navegando, escolha um dos links:
                    </h4>
                    <br />
                    <div class="row row-mb" *ngIf="widithScreen > 991">
                        <div class="col-md-4 button-middle">
                            <button class="btn btn-outline-default button-size" routerLink="/home">Home</button>
                        </div>
                        <div class="col-md-4 button-middle">
                            <button class="btn btn-outline-default button-size" routerLink="/sobre">Sobre</button>
                        </div>
                        <div class="col-md-4 button-middle">
                            <button class="btn btn-outline-default button-size" routerLink="/lancamentos">Lançamentos</button>
                        </div>

                        <div class="col-md-4 button-middle">
                            <button class="btn  btn-outline-default button-size" routerLink="/lancamentos/splendor">Splendor Residence</button>
                        </div>
                        <div class="col-md-4 button-middle">
                            <button class="btn btn-outline-default button-size" routerLink="/portfolio">Portfólio</button>
                        </div>
                        <div class="col-md-4 button-middle">
                            <button class="btn btn-outline-default button-size" routerLink="/contato">Contato</button>
                        </div>
                    </div>

                    <div class="row" *ngIf="widithScreen <= 991">
                        <table class="table" aria-hidden="true">
                            <tbody>
                                <tr>
                                    <td class="text-center no-padding-td">
                                        <button class="btn btn-outline-default button-size" routerLink="/home">Home</button>
                                    </td>
                                    <td class="text-center no-padding-td">
                                        <button class="btn btn-outline-default button-size" routerLink="/sobre">Sobre</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center no-padding-td">
                                        <button class="btn btn-outline-default button-size" routerLink="/lancamentos">Lançamentos</button>
                                    </td>
                                    <td class="text-center no-padding-td">
                                        <button class="btn col-auto btn-outline-default button-size" routerLink="/lancamentos/splendor">Splendor Residence</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center no-padding-td">
                                        <button class="btn btn-outline-default button-size" routerLink="/portfolio">Portfólio</button>
                                    </td>
                                    <td class="text-center no-padding-td">
                                        <button class="btn btn-outline-default button-size" routerLink="/contato">Contato</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-4 col-auto padding-left img-dog">
                    <img class="margin-top" alt="" src="assets/img/page404/01_imagem_dog.png">
                </div>
            </div>
        </div>
    </div>
</div>