<div class="wrapper" style="overflow-x: hidden">
    <!-- <div>
        <ngb-carousel #carouselPrincipal showNavigationArrows="true" showNavigationIndicators="true" (slide)="onSlide($event)">
            <ng-template ngbSlide [id]="countIndex" *ngFor="let lancamento of listaLancamentos; let countIndex = index">
                <div (swipeleft)="carouselPrincipal.next()" (swiperight)="carouselPrincipal.prev()">
                    <div class="local-filter"></div>
                    <img [src]="lancamento.src" class="img-maxSize img-none-effect" alt="">

                    <div class="content-center z-index-10">
                        <div [classList]="lancamento.secondarysource ? 'container position-logo-empreendimentos z-index-10' : 'container position-content-img z-index-10'">
                            <div class="title-brand z-index-10" style="max-width: 900px;">
                                <div class="text-center z-index-10">
                                    <img class="img-basic z-index-10" [src]="lancamento.secondarysource" alt="" *ngIf="lancamento.secondarysource">

                                    <div class="row text-center row-center z-index-10">
                                            <h2 class="presentation-subtitle2 text-center z-index-10" [innerHTML]="itemSlide?.description" style="margin-top: 0;"></h2>
                                        <div class="row text-center" style="display: block;">
                                            <div class="padding-top-button">
                                                <button type="button" [routerLink]="itemSlide?.router" class="btn btn-outline-neutral z-index-10">Saber mais</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="poistion-text-lancamento text-uppercase z-index-10"> {{itemSlide?.nome}}</div>
                </div>
            </ng-template>
        </ngb-carousel>
    </div> -->

    <app-banner-slide [slides]="listaLancamentos" [showSliceTag]="true">
    </app-banner-slide>
    <div class="main">
        <div>
            <div class="container">
                <div class="row">

                    <div class="text-center col-12">
                        <h2 class="h3 bold color-text">
                            Lançamentos EPAX
                        </h2>

                        <h3 class="description h5 color-text p-l-r pb">
                            Imóveis de alto padrão em Guarapuava com detalhes únicos, localizações privilegiadas e muita sofistação para você morar com mais qualidade de vida.
                        </h3>
                    </div>
                    <div class="card-lancamentos" *ngFor="let obra of listaObras">
                        <div class="row">
                            <div class="col-md-6 content-banner-margin-top p-right-zero">
                                <ngb-carousel #carouselLancamentos>
                                    <ng-template ngbSlide *ngFor="let imagem of obra.imagens">
                                        <div (swipeleft)="carouselLancamentos.next()" (swiperight)="carouselLancamentos.prev()">
                                            <img [src]='imagem.src' alt="" class="img-none-effect img-pointer" (click)="goPage(obra.router)">
                                            <i class="faixa-destaque">{{obra.faixa_destaque}}</i>

                                            <div class="row">
                                                <div class="col-12" style="background-color: white;">
                                                    &nbsp;
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-carousel>
                            </div>

                            <div class="col-md-6 card-lancamentos-bg">
                                <div class="line-gold"></div>
                                <div class="col-spacing">
                                    <div class="tim-title padding-text-align">
                                        <h3 class="h4 bold">{{obra.nome}}</h3>
                                        <h3 class="h4">{{obra.endereco}}</h3>
                                    </div>
                                    <br />
                                    <br />
                                    <h5 class="p-right local-h6 description color-text padding-text-align">{{obra.descricao}}</h5>

                                    <br />
                                    <br />
                                    <div class="row text-dark">
                                        <div class="col-md-3 text-center">
                                            <h5 class="p-right h6">
                                                <img src="./assets/img/empreendimentos/02_icone_metragem.png" alt="" class="spacing icon-size">
                                                <p class="bold">{{obra.metragem}}</p>
                                            </h5>
                                        </div>

                                        <div class="col-md-3 text-center">
                                            <h5 class="p-right h6">
                                                <img src="./assets/img/empreendimentos/02_icone_duplex.png" alt="" class="spacing icon-size">
                                                <p class="bold">{{obra.tipo}}</p>
                                            </h5>
                                        </div>

                                        <div class="col-md-3 text-center">
                                            <h5 class="p-right h6">
                                                <img src="./assets/img/empreendimentos/02_icone_unidades.png" alt="" class="spacing icon-size">
                                                <p class="bold">{{obra.unidades_andar}}</p>
                                            </h5>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            &nbsp;
                                        </div>
                                    </div>

                                    <div class="padding-text-align">
                                        <button type="button" class="btn btn-outline-default btn-default" [routerLink]="obra?.router">SAIBA MAIS</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>