.page-header {
  background-color: #151f20 !important;
}

.presentation-subtitle2 {
  font-size: 1.5em;
  color: #ffffff;
}

.local-filter {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.z-index-10 {
  z-index: 10 !important;
}

.local-h6 {
  font-size: 1.2em;
  line-height: 1.5em;
}

.padding-text-align {
  padding-left: 10px;
  padding-right: 30px;
}

.bold {
  font-weight: bold;
}

.p-right.h4 {
  padding-right: 10px;
}

.p-l-r {
  padding-left: 12% !important;
  padding-right: 12% !important;
}

.p-l-r.pb {
  padding-bottom: 15px !important;
}

.padding-top-button {
  padding-top: 30px;
}

.card-lancamentos {
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;*/
  transition: 0.3s !important;
  background-color: white !important;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-bottom: 30px;
}

/*.card-lancamentos:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2) !important;
}*/

.card-lancamentos-bg {
  background-color: #c4c4c4;
  color: black;
  padding-left: 0px !important;
}

.p-right-zero {
  padding-right: 0px !important;
}

.line-gold {
  background-image: linear-gradient(-90deg, #ac811f, #412e02) !important;
  height: 5px;
}

.color-text {
  color: black;
}

.container-home {
  padding: 2px 16px !important;
}

.button-middle {
  text-align: center;
  display: block;
  padding-bottom: 10px;
}

.paddind-top {
  padding-top: 5vw;
}

.spacing {
  padding-bottom: 6px;
  padding-right: 10px;
}

.icon-size {
  height: 50px;
  width: 55px;
}

.section-home {
  padding-bottom: 25px !important;
}

.row-center {
  display: inline !important;
}

.img-none-effect {
  box-shadow: none !important;
  border-radius: unset !important;
  text-align: center !important;
}

.img-pointer {
  cursor: pointer;
}

@media only screen and (min-width: 10px) {
  .poistion-text-lancamento {
    position: fixed;
    margin-top: -7vw;
    height: 30px;
    width: 350px;
    font-size: inherit;
    text-align: center;
    padding-top: 5px;
    color: white;
    background-color: #66615b !important;
    background-image: linear-gradient(-90deg, #0b1011, #66615b) !important;
    display: none;
  }

  .position-content-img {
    position: fixed;
    margin-top: -53vw;
    width: 100%;
  }
}

@media only screen and (min-width: 300px) {
  .position-logo-empreendimentos {
    margin-top: -80vw;
    padding-bottom: 9vw;
  }

  .content-banner-margin-top {
    margin-top: 2vw !important;
  }

  .content-margin-top {
    margin-top: 26vw !important;
  }

  .col-spacing {
    padding-left: 20px !important;
    padding-right: 10px !important;
  }

  i.faixa-destaque {
    border: 10px solid;
    border-color: #0b1011 #0b1011 #0b1011 #0b1011;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-37deg);
    position: fixed;
    left: -13vw;
    background-color: #0b1011;
    color: white;
    margin-top: 11vw;
    margin-left: 0vw;
    padding-right: 18vw;
    padding-left: 18vw;
    font-style: normal;
    font-family: "Montserrat", "Helvetica", Arial, sans-serif;
  }

  .img-maxSize {
    max-height: 800px !important;
    min-height: auto !important;
    max-width: 1600px !important;
    margin-top: 40px;
  }

  .img-basic {
    width: 50% !important;
    height: initial !important;
    box-shadow: none !important;
    border-radius: unset !important;
    text-align: center !important;
  }
}

@media only screen and (min-width: 600px) {
  .poistion-text-lancamento {
    position: fixed;
    margin-top: -5vw;
    height: 30px;
    width: 350px;
    font-size: inherit;
    text-align: center;
    padding-top: 5px;
    color: white;
    background-color: #66615b !important;
    background-image: linear-gradient(-90deg, #0b1011, #66615b) !important;
    display: inherit;
  }
}

@media only screen and (min-width: 768px) {
  .img-maxSize {
    max-height: 800px !important;
    min-height: 550px !important;
    max-width: 1600px !important;
  }
}

@media only screen and (min-width: 800px) {
  .position-logo-empreendimentos {
    margin-top: -54vw;
    padding-bottom: 9vw;
    position: absolute;
  }

  .position-content-img {
    position: fixed;
    margin-top: -25vw;
    width: 100%;
  }

  .border-content {
    padding-left: 30px;
    padding-right: 30px;
  }

  .container {
    max-width: 100%;
  }

  .content-margin-top {
    margin-top: 7vw !important;
  }

  .col-spacing {
    padding-left: 0;
    padding-right: 0;
  }

  i.faixa-destaque {
    border: 10px solid;
    border-color: #0b1011 #0b1011 #0b1011 #0b1011;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-37deg);
    position: fixed;
    left: -4vw;
    background-color: #0b1011;
    color: white;
    margin-top: 4vw;
    margin-left: 0vw;
    padding-right: 6vw;
    padding-left: 6vw;
    font-style: normal;
    font-family: "Montserrat", "Helvetica", Arial, sans-serif;
  }

  .img-maxSize {
    max-height: 800px !important;
    min-height: 550px !important;
    max-width: 1600px !important;
  }

  .img-basic {
    width: initial !important;
    height: initial !important;
    box-shadow: none !important;
    border-radius: unset !important;
    text-align: center !important;
  }
}

@media only screen and (min-width: 900px) {
  .position-logo-empreendimentos {
    margin-top: -44vw;
    padding-bottom: 9vw;
    position: absolute;
  }

  .position-content-img {
    position: fixed;
    margin-top: -25vw;
    width: 100%;
  }
}

@media only screen and (min-width: 1000px) {
  .position-logo-empreendimentos {
    margin-top: -35vw;
    padding-bottom: 9vw;
    position: absolute;
  }

  .position-content-img {
    position: fixed;
    margin-top: -23vw;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }

  .border-content {
    padding-left: 15px;
    padding-right: 15px;
  }

  .content-margin-top {
    margin-top: 7vw !important;
  }

  .img-maxSize {
    max-height: initial !important;
    min-height: 650px !important;
    max-width: initial !important;
  }

  .img-basic {
    width: initial !important;
    height: initial !important;
    box-shadow: none !important;
    border-radius: unset !important;
    text-align: center !important;
  }

  .position-content-img {
    position: fixed;
    margin-top: -22vw;
    width: 100%;
  }
}

@media only screen and (min-width: 2000px) {
  .img-maxSize {
    max-height: initial !important;
    min-height: 1000px !important;
    max-width: initial !important;
  }

  .poistion-text-lancamento {
    position: fixed;
    margin-top: -7vw;
    height: 60px;
    font-size: 25px;
    width: 500px;
    text-align: center;
    padding-top: 12px;
    color: white;
    background-color: #66615b !important;
    background-image: linear-gradient(-90deg, #0b1011, #66615b) !important;
    display: inherit;
  }

  .position-logo-empreendimentos {
    margin-top: -28vw;
    padding-bottom: 9vw;
  }

  .position-content-img {
    position: fixed;
    margin-top: -18vw;
    width: 100%;
  }
}

@media only screen and (min-width: 3000px) {
  .position-logo-empreendimentos {
    margin-top: -20vw;
    padding-bottom: 9vw;
  }

  .position-content-img {
    position: fixed;
    margin-top: -15vw;
    width: 100%;
  }
}
