<div class="wrapper" style="overflow-x: hidden">
  <div class="row">
    <div class="col-md-12 pading-content"></div>
  </div>

  <div class="main top bottom">
    <div class="container">
      <div class="row text-dark">
        <div class="col-md-4">
          <h2 class="h4">
            <p class="h5">Recebemos a</p>
            <p class="h5 bold">sua mensagem!</p>
          </h2>
          <em class="faixa-vermelha"></em>
          <br />
          <br />
          <img alt="Formulário enviado" class="img-mobile" src="assets/img/formulario-envio/01_imagem_aviao .png" *ngIf="widithScreen <= 800">
          <h5 class="local-h6">
            <p class="bold local-h6">
              Em breve, entraremos em contato para
            </p>
            <p class="bold local-h6">responder à sua solicitação.</p>
          </h5>

        </div>
        <div class="col-md-8" *ngIf="widithScreen > 800">
          <img alt="Formulário enviado" class="posicao-img" src="assets/img/formulario-envio/01_imagem_aviao .png">
        </div>
      </div>
    </div>
  </div>
</div>