.text-left {
  text-align: left !important;
}

.icon-size {
  font-size: 25px;
}

.text-right {
  text-align: right !important;
}

.nav-link {
  flex-wrap: nowrap !important;
  color: white !important;
}

.footer {
  min-height: 10vw !important;
  overflow-x: hidden !important;
}

.container-footer {
  min-height: 5vw !important;
  overflow-x: hidden !important;
  margin-right: initial;
  margin-left: initial;
}

.bold-text {
  font-weight: bold;
}

.p-bottom {
  padding-bottom: 20px;
  padding-top: 20px;
}

@media only screen and (min-width: 300px) {
  .div-link-show {
    display: none !important;
  }

  .left-side-9 {
    left: 0%;
  }

  .left-side-10 {
    left: 2%;
  }

  .inline-links {
    display: inline-flex !important;
    flex-wrap: wrap;
  }

  .inline-text {
    display: inline-flex !important;
    flex-wrap: wrap;
  }

  .row-mb {
    display: unset;
  }

  .hide-content-large-screen {
    display: none;
  }

  .show-content-small-screen {
    margin-top: 90px;
    margin-left: -155px;
  }
}

@media only screen and (min-width: 400px) {
  .div-link-show {
    display: none !important;
  }

  .left-side-9 {
    left: 0%;
  }

  .left-side-10 {
    left: 2%;
  }

  .inline-links {
    display: inline-flex !important;
    flex-wrap: wrap;
  }

  .inline-text {
    display: inline-flex !important;
    flex-wrap: wrap;
  }

  .row-mb {
    display: unset;
  }

  .hide-content-large-screen {
    display: none;
  }

  .show-content-small-screen {
    margin-top: 90px;
    margin-left: -155px;
  }
}

@media only screen and (min-width: 600px) {
  .div-link-show {
    display: none !important;
  }

  .left-side-9 {
    left: 0%;
  }

  .left-side-10 {
    left: 2%;
  }

  .inline-links {
    display: inline-flex !important;
    flex-wrap: nowrap;
  }

  .inline-text {
    display: inline-flex !important;
    flex-wrap: nowrap;
  }

  .row-mb {
    display: inherit;
  }

  .hide-content-large-screen {
    display: inherit;
  }

  .show-content-small-screen {
    margin-top: 10px;
    margin-left: 0px;
  }
}

@media only screen and (min-width: 800px) {
  .div-link-show {
    display: inline-flex !important;
    flex-wrap: nowrap;
  }

  .left-side-9 {
    left: 9%;
  }

  .left-side-10 {
    left: 10%;
  }

  .inline-links {
    display: inline-flex !important;
    flex-wrap: nowrap;
  }

  .inline-text {
    display: inline-flex !important;
    flex-wrap: nowrap;
  }

  .row-mb {
    display: inherit;
  }

  .hide-content-large-screen {
    display: inherit;
  }

  .show-content-small-screen {
    margin-top: 10px;
    margin-left: 0px;
  }
}

.footer-bgk-color {
  background-color: #66615b !important;
  background-image: linear-gradient(-90deg, #0b1011, #66615b) !important;
  min-height: 50px;
}

.c-h5 {
  font-size: 1.15em !important;
  line-height: 1.4em !important;
}
