<footer class="footer">
    <div class="row footer-bgk-color">
        <div class="col-md-4 col-md-auto inline-links left-side-9">
            <a class="nav-link" rel="tooltip noopener noreferrer" title="Siga a EPAX no Instagram" data-placement="top" target="_blank" href="https://www.instagram.com/epax.construtora/">
                <em class="fa fa-instagram icon-size"></em>
            </a>

            <a class="nav-link" rel="tooltip noopener noreferrer" title="Curta a EPAX no Facebook" data-placement="top" target="_blank" href="https://www.facebook.com/Epaxconstrutora/">
                <em class="fa fa-facebook-square icon-size"></em>
            </a>
        </div>

        <div class="col-md-8 col-md-auto inline-links">
            <div class="div-link-show">
                <a routerLink="/sobre" routerLinkActive="active" class="nav-link"> A EPAX </a>

                <a routerLink="/lancamentos" routerLinkActive="active" class="nav-link"> LANÇAMENTOS </a>

                <a routerLink="/portfolio" routerLinkActive="active" class="nav-link"> PORTFÓLIO </a>

                <a routerLink="/contato" routerLinkActive="active" class="nav-link"> CONTATO </a>

                <a routerLink="/trabalheconosco" routerLinkActive="active" class="nav-link"> TRABALHE CONOSCO </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 p-bottom left-side-10">
            <a routerLink="/" routerLinkActive="active" class="nav-link">
                <img src="assets/img/home/00_logo_epax_rodape.png" alt="Epax Construtora">
            </a>
        </div>

        <div class="col-md-8">
            <div class="col-md-4 inline-text p-bottom">

                <span class="text-left">
                    <h5 class="h5 c-h5">
                        <span class="bold-text text-left">Endereço: </span>
                        <br />
                        Rua XV de Novembro, 5975 <br />
                        Alto da XV - Guarapuava - PR
                    </h5>
                </span>
            </div>

            <div class="col-md-8 inline-text p-bottom">
                <span class=" text-left">
                    <h5 class="h5 c-h5">
                        <span class="bold-text text-left">Tel: </span>
                        <br />
                        (42)3622-2263 <br />
                    </h5>
                </span>
            </div>

            <div class="col-md-auto inline-text p-bottom" *ngIf="false">
                <span class="text-left">
                    <h5 class="h5 c-h5">
                        <span class="bold-text text-left">E-mail: </span>
                        <br />
                        epax@epax.com.br <br />
                    </h5>
                </span>
            </div>
        </div>
    </div>
</footer>