<div class="wrapper" style="overflow-x: hidden">
    <div class="page-header-post section-white margin-top">
    </div>
    <div class="main">
        <div class="section section-home">
            <ngx-loading [show]="loading"></ngx-loading>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <!-- <p class="content-center text-center" [innerHTML]="postAtual.img"></p> -->
                    <h2 class="bold h2 text-center">
                        {{postAtual.titulo}}
                    </h2>
                    <h4 class="bold h4 text-center">
                        {{postAtual.dataPost}}
                    </h4>

                    <p class="h4 margin-left" [innerHTML]="postAtual.figureWpContent"></p>
                </div>
                <div class="col-md-2"></div>
            </div>

            <div class="row margin-top">
                <div class="col-12">
                    <h3 class="bold text-center h3">
                        Leia também:
                    </h3>
                    <br />
                    <br />
                    <div class="page-wrapper blog-bg-color">
                        <div class="blog-bg-color">
                            <div class="container" id="blogs">
                                <div class="row" *ngIf="widithScreen > 991">
                                    <div class="col-2" fxFlex="calc(16.5% - 16px)">

                                    </div>
                                    <app-card-conteudo [posts]="postsSugestao"></app-card-conteudo>
                                    <div class="col-2" fxFlex="calc(16.5% - 16px)"></div>
                                </div>

                                <div class="row" *ngIf="widithScreen <= 991">
                                    <div class="col-lg-auto">
                                        <app-card-conteudo [posts]="postsSugestao" [groupInCarouselWhenMobile]="true"></app-card-conteudo>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>