.section-white {
  background-color: white !important;
}

.margin-top {
  margin-top: 100px;
}

.margin-left {
  margin: 0 12vw;
}


@media (min-width: 300px) {
  .margin-left {
    margin: 0 2vw;
  }
  
}


@media (min-width: 1000px) {
  .margin-left {
    margin: 0 11vw;
  }
  
}


@media (min-width: 2000px) {
  .margin-left {
    margin: 0 21vw;
  }
  
}


@media (min-width: 3000px) {
  .margin-left {
    margin: 0 25vw;
  }
  
}